* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    
}
.hidden {
    display: none;
}

.selected {
    width: 100%;
}
.ul-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.result-li img{
    height: 300px;
    border-radius: 5px;
}

.modal .result-li img {
    height: 400px;
    margin: 30px 0;
}
.result-li {
    list-style: none;
    margin: 30px;
    display: flex;
}

.list-container > .result-li > img {
    cursor: pointer;
}

img.platform-logo {
    height: 30px;
}

.color-palette-item {
    width: 20%;
    height: 200px;
    margin: 25px 0;
    cursor: pointer;
    /* display: flex;
    align-items: flex-end;
    padding: 20px 0; */
}
.color-palette-item:first-of-type {
    border-radius: 15px 0 0 15px;
}
.color-palette-item:last-of-type {
    border-radius: 0 15px 15px 0;
}
.color-palette {
    display: flex;
}

.modal {
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 50px auto; 
    padding: 20px;
    border: none;
    border-radius: 20px;
    width: 80%; 
    overflow: auto;

}

.close {
    color: #aaa;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    height: 30px;
}

.title-details{
     margin: 30px;
  
}
.title-content { 
    color: black;
    cursor: default;
   
}

.home-page .logo {
    display: block;
    height: 200px;
    margin: 50px auto 0;
}

.home-page .form-submit {
    height: 50px;
    border: 1px solid white;
    border-left: 0;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    background-color: white;
}
.home-page .form-input {
    height: 50px;
    width: 400px;
    margin: 50px 0;
    padding: 15px;
    border: 1px solid white;
    border-right: 0;
    border-radius: 10px 0 0 10px;
    font-size: 36px;
}

.home-page form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.result-page {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}
.result-page form{
    display: flex;
    align-items: center;
    margin: auto;
}

.result-page .form-input {
    font-size: 22px;
    width: 500px;
    height: 40px;
    border: 1px solid white;
    border-right: 0;
    border-radius: 10px 0 0 10px;
    padding: 10px;
}

input:focus {
    outline: none;
}

.result-page .form-submit {
    height: 40px;
    background-color: white;
    border: 1px solid white;
    border-left: 0;
    border-radius: 0 10px 10px 0;
    padding: 10px;
}

.result-page .logo {
    height: 50px;
    margin: 0 20px;
    cursor: pointer;
}
.result-title { 
    text-align: center;
    font-family: 'Muli', sans-serif;
}

.list-title {
    margin: 0 15px 20px;
    font-size: 32px;
    
}

.list-description {
    margin: 0 15px;
    font-size: 20px;
    line-height: 32px;
    font-family: 'Abel', sans-serif;
}

.list-container {
    margin: 20px;
}
.similar-submit {
    border: none;
    background-color: #4527A0;
    padding: 10px 25px;
    margin: 15px;
    font-size: 26px;
    border-radius: 50px;
    color: white;
    cursor: pointer;
}

.similar-submit:hover {
    background-color: #5E35B1;
}

.inner-color-text {
    color: #ffffff90;
    background: none;
    border: none;
    margin-top: 170px;
    text-align: center;
    font-size: 1vw;
}

@media only screen and (max-width: 1000px) {
    /* body {
        overflow: hidden;
    } */
    .modal {
        background-color: white;
        overflow: auto;
    }
    .modal-content {
        margin: 0;
        padding: 0;
    }
    
    .title-details {
        margin: 30px;
    }
    .modal > .result-li {
       display: inline; 
    }
    .close {
        float: right;
        margin: 20px;
        position: fixed;
        right: 10px;
        top: 0;
    }
    .modal > .result-li > img {
        float: left;
        margin: 30px;
    }
    .color-palette {
        clear: both;
    }
    .similar-submit {
        display: block;
        margin: 20px auto;
    }
    .home-page .form-input {
        width: 60%;
    }
    
    .home-page .logo {
        width: 65%;
        height: auto;
    }
    .result-page .form-input {
        height: 30px;
        width: 150px;
    }
    .result-page .form-submit {
        height: 30px;
        padding: 5px;
    }
    .result-page .logo {
        height: 40px;
        margin: 0 10px;
    }
    .inner-color-text {
        font-size: 18px;
    }
    
}
@media only screen and (max-width: 500px) {
    .inner-color-text{
    font-size: 10px;
    }
}