* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}
.hidden {
    display: none;
}

.selected {
    width: 100%;
}
.ul-results {
    display: flex;
    flex-wrap: wrap;
}

.result-li img{
    height: 300px;
    border-radius: 5px;
}

.result-li {
    list-style: none;
    margin: 20px;
    display: flex;
    cursor: pointer;
}

img.platform-logo {
    height: 30px;
}

.color-palette-item {
    width: 100px;
    height: 300px;

}

.color-palette {
    display: flex;
}

.modal {
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 50px auto; 
    padding: 20px;
    border: none;
    border-radius: 20px;
    width: 80%; 
    overflow: auto;

}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    height: 30px;
}

.title-details{
     margin: 30px;
     line-height: 28px;
}
.title-content { 
    display: flex;
    flex-direction: column;
    color: black;
   
}

.home-page .logo {
    display: block;
    height: 200px;
    margin: 50px auto 0;
}

.home-page .form-submit {
    height: 50px;
    border: 1px solid black;
    border-left: 0;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    background-color: white;
}
.home-page .form-input {
    height: 50px;
    width: 400px;
    margin: 50px 0;
    padding: 10px;
    border: 1px solid black;
    border-right: 0;
    border-radius: 10px 0 0 10px;
    font-size: 36px;
}

.home-page form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-page {
    display: flex;
}
.result-page form{
    display: flex;
    align-items: center;
}

.result-page .form-input {
    width: 300px;
    height: 40px;
    border: 1px solid black;
    border-right: 0;
    border-radius: 10px 0 0 10px;
    margin-left: 30px;
    padding: 10px;
}

input:focus {
    outline: none;
}

.result-page .form-submit {
    height: 40px;
    border: 1px solid black;
    border-left: 0;
    border-radius: 0 10px 10px 0;
    padding: 10px;
}

.result-page .logo {
    height: 50px;
    margin: 0 20px;
}
.result-title { 
    text-align: center;
}

.similar-submit {
    border: none;
    background-color: #4527A0;
    padding: 10px 25px;
    font-size: 26px;
    border-radius: 50px;
    color: white;
}

.similar-submit:hover {
    background-color: #5E35B1;
}