
.hidden {
    display: none;
}

.selected {
    width: 100%;
}
.ul-results {
    display: flex;
    flex-wrap: wrap;
}

.result-li img{
    height: 300px;

}

.result-li {
    list-style: none;
    margin: 20px;
    display: flex;
}

.no-poster {
    background-color: #232323;
    color: white;
    font-size: 32px;
    height: 300px;
    width: 200px;
}

img.platform-logo {
    height: 30px;
}

.color-palette-item {
    width: 100px;
    height: 300px;

}

.color-palette {
    display: flex;
}

.modal {
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 50px auto; 
    padding: 20px;
    border: none;
    width: 1000px; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.title-content { 
    display: flex;
    flex-direction: column;
}

.form-input {
    height: 50px;
    width: 400px;
    margin: 100px;
    border-radius: 10px 0 0 10px;
    border: 1px solid black;
}